.cats { display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }
.grid { display: grid; grid-template-columns: repeat(auto-fill, minmax(230px, 1fr)); }
header { display: flex; flex-wrap: wrap; justify-content: space-between; }